body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

.header {
    padding: 0;
    background: #2B85BF;
    color: white;
    text-align: center;
}

.header > h1 {
    padding: .67em;
    margin: 0;
}

.controls {
    max-width: 1024px;
    margin: 50px auto;
}

.control {
    background: #2B85BF;
    margin: 12px;
    padding: 20px;
    color: white;
    text-align: center;
    height: 80px;
    cursor: pointer;
}

.control > h2 {
    font-size: 26px;
}

.add-space {
    padding: 25px;
    cursor: pointer;
}

.icon-bar > img {
    margin-top: 12px;
    height: 35px;
    max-width: 50px;
    padding: 5px 8px;
}

.target-icon {
    margin-top: 12px;
    height: 35px;
    padding: 5px 8px;
}

.header > a {
    top:0;
    left:0;
    padding: 13px 20px;
    position: absolute;
}

.header > a > img {
    height: 50px;
}

.target-popup {
    text-align: center;
}